* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  color: #666666;
}

.bold {
  font-weight: bold;
}
.medium {
  font-weight: 500;
}

.header {
  border-bottom: 1px solid #e8e8e8;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 54px;
}
.nav__title {
  color: #448899;
  font-size: 30px;
  text-decoration: none;
}
.links__link {
  text-decoration: none;
  padding: 10px;
}

.main {
  max-width: 1200px;
  margin: auto;
}

.sec1 {
  padding: 40px 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid #e8e8e8;
}
.sec1__lightbox {
  max-width: 500px;
  width: 100%;
  height: 400px;
  background-color: #666666;
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  border-radius: 5px;
}
/* for part 3-5 */
.sec1__lightbox {
  position: relative;
  overflow: hidden;
}
.lightbox__pic {
  width: 100%;
  height: 100%;
}
/*---*/
.lightbox__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.lightbox__button {
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
}
.lightbox__L {
  background-image: url("./images/btn_leftArrow.png");
  background-repeat: no-repeat;
  margin: 10px;
}
.lightbox__R {
  background-image: url("./images/btn_rightArrow.png");
  background-repeat: no-repeat;
  margin: 10px;
}
/* for part 3-5 */
.lightbox__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  opacity: 75%;
}
.lightbox__L {
  left: 10px;
}
.lightbox__R {
  right: 10px;
}
.lightbox__indicators {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  display: flex;
  max-width: 500px;
  width: 100%;
  z-index: 2;
}
.lightbox__bar {
  height: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  padding: 0;
  cursor: pointer;
  flex-shrink: 0; /* 很重要，避免被壓縮 */
}

.lightbox__bar.is-active {
  background-color: rgba(0, 0, 0, 0.75);
}

/*---*/
.sec1__book {
  max-width: 600px;
  width: 100%;
  height: 400px;
}
.info__name {
  font-size: 24px;
  margin-bottom: 15px;
}
.info__details {
  margin-bottom: 20px;
}
.book__card {
  height: 302px;
  background-color: #e8e8e8;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form__date,
.form__time,
.form__price {
  display: flex;
  align-items: center;
  gap: 5px;
}
.date__input {
  height: 35px;
}
.time__item {
  width: 87px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.time__item__radio {
  /*之後再來研究*/
  width: 22px;
  height: 22px;
  accent-color: #448899;
  margin-left: 5px;
}
.form__button {
  width: 154px;
  height: 36px;
  background-color: #448899;
  color: #ffffff;
  font-size: 19px;
  border-radius: 5px;
  margin-top: 5px;
  border: none;
}

.sec2 {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.sec2__address,
.sec2__direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.address__title,
.direction__title {
  display: flex;
  align-items: center;
  height: 32px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #757575;
  color: #ffffff;
  height: 104px;
}

@media screen and (max-width: 600px) and (min-width: 360px) {
  .sec1 {
    flex-wrap: wrap;
    padding: 40px 0px;
    padding-top: 0px;
  }
  .sec1__lightbox {
    max-width: 100%;
  }
  .book__info {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.signin,
.signup {
  min-height: 275px;
  width: 340px;
  border-radius: 5px;
  position: fixed;
  z-index: 5;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  box-shadow: 0px 4px 60px #aaaaaa;
  overflow: hidden;
  display: none;
}
.signup {
  min-height: 332px;
  width: 340px;
  z-index: 6;
}
.is-open {
  display: block;
}
.signin__decbar,
.signup__decbar {
  height: 10px;
  width: 100%;
  margin-top: 0;
  background: linear-gradient(to right, #66aabb, #337788);
}
.signin__box,
.signup__box {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.signin__closeBtn,
.signup__closeBtn {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 27px;
  right: 17px;
  background-image: url("./images/icon_close.png");
  cursor: pointer;
}
.signin__title,
.signup__title {
  font-size: 24px;
}
.signin__form,
.signup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.form__input {
  height: 47px;
  width: 310px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.button {
  height: 47px;
  width: 310px;
  color: #ffffff;
  background-color: #448899;
  border-radius: 5px;
}
.signin__tosignup,
.signup__tosignin {
  text-decoration: none;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 4;
  display: none;
}
.overlay.is-open {
  display: block;
}

.authmsg {
  width: 310px;
  text-align: center;
}
